@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --calc-general-loader-white: calc(100% - 270px);
  --calc-height-devices: calc(100svh - 133px);
  --my-spacing-svh: 150svh;
  --my-cal-height: calc(var(--my-spacing-svh) * 0.56);
  --font-sans: JetBrains Mono, ui-monospace, monospace;
  --font-serif: IBM Plex Serif, ui-serif, serif;
  --font-mono: JetBrains Mono, ui-monospace, monospace;

  --radius: 1rem;
  --background-transparen-loader: rgba(13, 3, 28, 0.7);
  --background: rgb(15, 16, 23);
  --foreground: rgb(188, 112, 215);
  --card: rgb(24, 29, 51);
  --card-foreground: rgb(170, 113, 179);
  --popover: rgb(44, 44, 62);
  --popover-foreground: rgb(224, 224, 224);
  --primary: rgb(191, 41, 181);
  --primary-foreground: rgb(255, 255, 255);
  --secondary: rgb(157, 123, 221);
  --secondary-foreground: rgb(1, 2, 73);
  --muted: rgb(48, 51, 74);
  --muted-foreground: rgb(169, 177, 214);
  --accent: rgb(90, 62, 142);
  --accent-foreground: rgb(192, 202, 245);
  --destructive: rgb(247, 118, 142);
  --border: rgb(37, 42, 65);
  --input: rgb(79, 63, 97);
  --ring: rgb(234, 40, 79);
  --chart-1: rgb(158, 206, 106);
  --chart-2: rgb(255, 158, 100);
  --chart-3: rgb(224, 175, 104);
  --chart-4: rgb(122, 162, 247);
  --chart-5: rgb(42, 195, 222);
  --sidebar: rgb(36, 40, 59);
  --sidebar-foreground: rgb(192, 202, 245);
  --sidebar-primary: rgb(211, 26, 88);
  --sidebar-primary-foreground: rgb(245, 245, 245);
  --sidebar-accent: rgb(90, 62, 142);
  --sidebar-accent-foreground: rgb(192, 202, 245);
  --sidebar-border: rgb(45, 51, 77);
  --sidebar-ring: rgb(234, 40, 79);

  --shadow-color: rgb(207, 201, 194);

  --shadow-color: rgb(56, 95, 13);
  --shadow-2xs: 1px 1px 6px 0px rgb(from var(--shadow-color) r g b / 0.05);
  --shadow-xs: 1px 1px 6px 0px rgb(from var(--shadow-color) r g b / 0.05);
  --shadow-sm:
    1px 1px 6px 0px rgb(from var(--shadow-color) r g b / 0.1),
    1px 1px 2px -1px rgb(from var(--shadow-color) r g b / 0.1);
  --shadow:
    1px 1px 6px 0px rgb(from var(--shadow-color) r g b / 0.1),
    1px 1px 2px -1px rgb(from var(--shadow-color) r g b / 0.1);
  --shadow-md:
    1px 1px 6px 0px rgb(from var(--shadow-color) r g b / 0.1),
    1px 2px 4px -1px rgb(from var(--shadow-color) r g b / 0.1);
  --shadow-lg:
    1px 1px 6px 0px rgb(from var(--shadow-color) r g b / 0.1),
    1px 4px 6px -1px rgb(from var(--shadow-color) r g b / 0.1);
  --shadow-xl:
    1px 1px 6px 0px rgb(from var(--shadow-color) r g b / 0.1),
    1px 8px 10px -1px rgb(from var(--shadow-color) r g b / 0.1);
  --shadow-2xl: 1px 1px 6px 0px rgb(from var(--shadow-color) r g b / 0.1);
}

.dark {
  --background: rgb(15, 16, 23);
  --foreground: rgb(188, 112, 215);
  --card: rgb(24, 29, 51);
  --card-foreground: rgb(170, 113, 179);
  --popover: rgb(44, 44, 62);
  --popover-foreground: rgb(224, 224, 224);
  --primary: rgb(191, 41, 181);
  --primary-foreground: rgb(255, 255, 255);
  --secondary: rgb(157, 123, 221);
  --secondary-foreground: rgb(1, 2, 73);
  --muted: rgb(48, 51, 74);
  --muted-foreground: rgb(169, 177, 214);
  --accent: rgb(90, 62, 142);
  --accent-foreground: rgb(192, 202, 245);
  --destructive: rgb(247, 118, 142);
  --border: rgb(37, 42, 65);
  --input: rgb(79, 63, 97);
  --ring: rgb(234, 40, 79);
  --chart-1: rgb(158, 206, 106);
  --chart-2: rgb(255, 158, 100);
  --chart-3: rgb(224, 175, 104);
  --chart-4: rgb(122, 162, 247);
  --chart-5: rgb(42, 195, 222);
  --sidebar: rgb(36, 40, 59);
  --sidebar-foreground: rgb(192, 202, 245);
  --sidebar-primary: rgb(211, 26, 88);
  --sidebar-primary-foreground: rgb(245, 245, 245);
  --sidebar-accent: rgb(90, 62, 142);
  --sidebar-accent-foreground: rgb(192, 202, 245);
  --sidebar-border: rgb(45, 51, 77);
  --sidebar-ring: rgb(234, 40, 79);

  --shadow-color: rgb(207, 201, 194);
}

@theme inline {
  --font-sans: JetBrains Mono, ui-monospace, monospace;
  --font-serif: IBM Plex Serif, ui-serif, serif;
  --font-mono: JetBrains Mono, ui-monospace, monospace;

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
::-webkit-scrollbar {
  width: 0.5vw; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #712f91;
  border-radius: 4px;
  cursor: grab;
}

::-webkit-scrollbar-thumb:hover {
  background: #712f91;
}
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
@media screen and (min-height: 1500px) {
  :root {
    --my-spacing-svh: 155svh;
  }
}
@media screen and (min-height: 801px) and (max-height: 1200px) {
  :root {
    --my-spacing-svh: 140svh;
  }
}
@media screen and (min-height: 501px) and (max-height: 800px) {
  :root {
    --my-spacing-svh: 115svh;
  }
}
@media screen and (max-height: 500px) {
  :root {
    --my-spacing-svh: 100svh;
  }
}
@media screen and (max-height: 300px) {
  :root {
    --my-spacing-svh: 95svh;
  }
}
/*@media screen and (max-height: 1500px) {
  :root {
    --my-cal-height: calc(3.9svh * 22);
  }
}
@media screen and (max-height: 1200px) {
  :root {
    --my-cal-height: calc(3.8svh * 22);
  }
}
@media screen and (max-height: 900px) {
  :root {
    --my-cal-height: calc(3.7svh * 22);
  }
}
@media screen and (max-height: 700px) {
  :root {
    --my-cal-height: calc(3.6svh * 22);
  }
}
@media screen and (max-height: 500px) {
  :root {
    --my-cal-height: calc(3.5svh * 22);
  }
}
@media screen and (max-height: 300px) {
  :root {
    --my-cal-height: calc(3.4svh * 22);
  }
}

@media screen and (max-height: 324px) {
  :root {
    --my-cal-height: calc(2svh * 20.3);
  }
}*/
